<header>
  <div class="menu">
      <img src="/assets/Menu.svg" alt="">
  </div>
  <div id="logo">
      <img src="/assets/Logo-2.png" alt="" srcset="">
  </div>
  <div class="margin-empty-space">

  </div>
  <div class="header-links" >
      <a routerLink="">COURSES</a>
  </div>
  <div class="header-links">
      <a routerLink="/wishlist">MY WISHLIST</a>
  </div>
  <div class="header-links" >
      <a routerLink="/cart"><img id="cart-icon" src="/assets/shopping-cart.svg" alt="" srcset=""></a>
  </div>
  <div class="header-links" >
      <a routerLink="/profile"><img id="user-icon" src="/assets/profile.svg" alt="" srcset=""></a>
  </div>


  <div class="header-links-mobile">
      <a href="#"><img src="/assets/Search.svg" alt="" srcset=""></a>
  </div>
  <div class="header-links-mobile">
      <a href="/cart.html"><img src="/assets/Cart.svg" alt="" srcset=""></a>
  </div>
  <div class="header-links-mobile">
      <a href="/profile.html"><img src="/assets/Profile.png" alt="" srcset=""></a>
  </div>

</header>
