<div *ngIf = "NewCart()"> <img src="/assets/noun_tick_1611480.svg" alt="">Item added to Cart</div>
<div *ngIf = "OldCart()"> <img src="/assets/noun_exclamation_939973.svg" alt=""> Item already in the Cart</div>
<div *ngIf = "DeleteCart()"> <img src="/assets/noun_tick_1611480.svg" alt=""> Item removed from Cart</div>

<div *ngIf = "NewWishlist()"> <img src="/assets/noun_tick_1611480.svg" alt=""> Item added to Wishlist</div>
<div *ngIf = "OldWishlist()"> <img src="/assets/noun_exclamation_939973.svg" alt=""> Item already in the Wishlist</div>
<div *ngIf = "DeleteWishlist()"> <img src="/assets/noun_tick_1611480.svg" alt=""> Item removed from Wishlist</div>

<div *ngIf = "Checkout()"><img src="/assets/noun_tick_1611480.svg" alt=""> Thank you for purchasing the Course</div>

