@function convert-rem($length) {
  $result: $length / 16;
  @return $result * 1rem;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


$theme-color_1: #FF6738;
$theme-color_2: #e25b32;
$common-box-shadow: 0 convert-rem(3) convert-rem(6) #00000029;


#main-content-header {
  @include flex-row;
  width: 82.82%;
  margin: auto;
  background-color: black;
  color: white;
  margin-top: convert-rem(16);
  justify-content: space-between;
  align-items: center;
  // border-radius: 00.25rem;

  .main-content-header-content {
    margin-left: convert-rem(27);
    width: 33%;
    font: normal normal 600 convert-rem(20)/convert-rem(24) Montserrat;
    display: flex;
    flex-direction: column;
  }
}

main {
  margin: auto;
  background-color: white;
  width: 82.82%;

  #main-content-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    margin-top: convert-rem(32);
    grid-column-gap: convert-rem(10);

    #main-content-top-left {
      @include flex-row;
      justify-content: space-between;
      #all-courses {
        font-size: 1.25rem;
      }
    }

    #main-content-top-right {
      display: flex;
      width: 100%;

      #search-bar {
        height: 2.45rem;
        width: 87.5%;
        background-color: #eff2ff;
        border: 0;
        padding-left: convert-rem(10);
      }

      #search-button {
        background-color: $theme-color_1;
        height: 2.5rem;
        width: 12.5%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  #main-content-middle {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1%;
    margin-top: convert-rem(32);
    #main-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;

      .course-details-mobile {
        display: none;
      }
      .course-main-content {
        display: flex;
        height: auto;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        box-shadow: $common-box-shadow;
        border: convert-rem(1) solid #f4f4f4;
        border-radius: 0 0 0.25rem 0.25rem;
        opacity: 1;
        align-items: center;
        margin-right: 0;

        .course-img {
          margin-left: 1%;
          margin-top: 0.625rem;
          margin-bottom: 0.625rem;
          width: 4.9375rem;
          height: 4.375rem;

          img {
            width: 4.9375rem;
            height: 4.375rem;
          }
        }

        .title-reactions {
          margin-top: 0.6875rem;
          margin-left: 1.2%;
          display: flex;
          flex-direction: column;
          .course-title {
            width: 21rem;
            height: 2.75rem;
            margin-bottom: 1rem;
          }

          .react-buttons {
            display: flex;

            .react-button {
              background-color: $theme-color_2;
              margin-right: 0.78rem;
              border-radius: 0.25rem;
              opacity: 1;
              color: rgb(255, 255, 255);
              font-size: 0.75rem;
              height: 1.1325rem;
              width: 4.875rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .course-creator {
          margin-left: auto;
        }

        .course-options {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-left: auto;

          .wishlist-star {
            cursor: pointer;
          }
          .wishlisted-star {
            cursor: pointer;
          }

          .discount-price {
            width: 6.625rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .original-price {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.625rem;
          }

          .add-to-cart {
            cursor: pointer;
            background-color: $theme-color_1;
            height: 2.5rem;
            width: 9.06rem;
            border-radius: 0.25rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2.6875rem;

            margin-left: 1.625rem;
          }
          .trash-image {
            cursor: pointer;
            margin-right: 2rem;
            img {
              width: convert-rem(28);
              height: convert-rem(31);
            }
          }
          .arrow-to-course {
            margin-right: 2rem;
            cursor: pointer;
          }
        }
      }
    }
    aside {
      width: 100%;
      padding: 0;
      height: auto;
      box-shadow: $common-box-shadow;

      .cart {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        // justify-content: space-between;
        height: 100%;

        .cart-text {
          font-size: convert-rem(18);
          margin: convert-rem(18);
        }
        .cart-course {
          box-shadow: 0 convert-rem(5) convert-rem(5) #00000029, 0 convert-rem(-1) convert-rem(5) #00000029;
          height: convert-rem(147);
          width: 90%;
          margin-top: .75rem;
          .cart-course-details {
            display: flex;
            align-items: center;

            padding-right: 4%;
            .cart-course-img {
              margin-left: 0;
              margin-right: convert-rem(20);
              margin-top: 0.625rem;
              margin-bottom: 0.625rem;
              width: convert-rem(79);
              height: convert-rem(70);

              img {
                width: convert-rem(79);
                height: convert-rem(70);
              }
            }
          }
          .discount-price-cart {
            margin-left: 70%;
          }
        }



        .cart-checkout {
          box-shadow: 0 convert-rem(-2) convert-rem(1) #00000029;
          display: flex;
          width: 90%;
          align-items: center;
          justify-content: space-between;
          margin-bottom: convert-rem(18);
          padding-top: convert-rem(18);
          margin-top: auto;

          .cart-value-section {
            .checkout-text {
              font-size: convert-rem(16);
            }
            .cart-value {
              font-size: convert-rem(24);
            }
          }
          .checkout-button {
            cursor: pointer;
            color: $theme-color_1;
          }
        }
      }
    }
  }

  .page-change {
    margin-top: convert-rem(25);
    display: flex;
    width: convert-rem(100);
    justify-content: space-between;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: convert-rem(20);
      width: convert-rem(20);
      color: white;
      font-size: convert-rem(12);
      border-radius: convert-rem(10);
      background-color: $theme-color_2;
    }
  }
}

footer {
  margin-top: auto;
  background-color: #f5f5f5;
  height: convert-rem(60);
}

