<div id="main-content-header">
  <div class="main-content-header-content">Shopping Cart </div>
  <div  class="main-content-header-img"><img src="/assets/Mask Group 1.png" alt="" srcset=""></div>
  </div>

  <main>
  <div id= "main-content-top">
      <strong>Courses in Cart</strong>
  </div>

  <div id= "main-content-middle">
      <div class="cart-content">
          <div id="course-in-cart"  >

            <div class="course-main-content" *ngFor = "let cart_course of getCartData()">
              <div class="course-details">
                <div class="course-img">
                    <img src="/assets/course-generic.png" alt="" srcset="">
                </div>

                <div class="title-creator">
                    <div class="course-title">
                      {{cart_course.title}}
                    </div>
                    <div class="course-creator">
                      {{cart_course.course_creator}}
                    </div>
                </div>
              </div>


              <div class="course-options">
                  <div class="add-to-wishlist" (click)="MoveToWishlist(cart_course.id)">
                    Move to Wishlist

                  </div>
                  <div class="discount-price"><strong>{{cart_course.discounted_price}}</strong></div>
                  <div class="trash-image" (click)="RemoveFromCart(cart_course.id)"><img src="/assets/trash-icon.png"></div>
              </div>
            </div>

          </div>

          <div class="recommended-outer">
              <div class="recommended-course-text">Recommended Courses</div>
              <div id="recommended">
                <div class="course-main-content" *ngFor = "let course of getWishlistData()">
                  <div class="course-img">
                    <img src="/assets/course-generic.png" alt="" srcset="">
                </div>

                <div class="title-reactions">
                    <div class="course-title">
                      {{course.title}}
                    </div>
                    <div class="react-buttons">
                        <div class="react-button">React</div>
                        <div class="react-button">React</div>
                    </div>
                </div>

                <div class="course-creator">{{course.course_creator}}</div>

                <div class="course-options">
                    <div class="wishlist-star" *ngIf="!course.wishlist" (click)= "AddToWishlist(course.id)">
                        <img src="/assets/Path 28-1.svg" alt="" srcset="">
                    </div>
                    <div class="wishlisted-star" *ngIf="course.wishlist" (click)= "RemoveFromWishlist(course.id)">
                      <img src="/assets/wishlisted.svg" alt="" srcset="">
                  </div>
                    <div class="discount-price"><strong>Rs. {{course.discounted_price}}</strong></div>
                    <div class="original-price" [ngStyle] = "calculateStyle(course)">{{getOriginialPrice(course)}}</div>
                    <div class="add-to-cart" (click)="AddToCart(course.id)">Add to cart</div>
                    <div class="arrow-to-course" routerLink="/course-details" (click)="CurrentCourseUpdate(course.id)"><img src="/assets/arrow.svg" alt="" srcset=""></div>
                </div>

                </div>
              </div>
          </div>
      </div>



      <aside>
          <div class="cart">
              <div class="cart-text">
                  <div class="checkout-text">Total Amount</div>

                  <div class="checkout-amount"><strong> Rs. {{getTotalCartValue()}}/-</strong></div>
              </div>




              <div class="checkout-button" (click)= "Checkout()">
                      CHECKOUT
              </div>
          </div>
      </aside>
  </div>

  </main>
